---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<!-- <body data-theme="{{ site.mode }}" class="notransition"> -->
<!-- <body {% if site.mode == "dark" %}data-theme="dark"{% endif %} class="notransition"> -->
  <body {% if site.mode == "dark" %}data-theme="dark"{% endif %}>
    <div id="top"></div>
  <script>
    const body = document.body;

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else {
        body.removeAttribute("data-theme");
      }
    };

    initTheme(localStorage.getItem("theme") || "light");
  </script>

  {% include navbar.html %}
  <div class="wrapper">
    {% include author.html %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll(".menu-link");
    const menuLabel = document.querySelector('label[for="menu-trigger"]');

    links.forEach(link => {
      link.addEventListener("click", () => {
        requestAnimationFrame(() => {
          menuLabel.click();
        });
      });
    });
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const body = document.body;
  const modeBtn = document.getElementById("mode");

  modeBtn.addEventListener("click", function () {
    const current = body.getAttribute("data-theme");

    if (current === "dark") {
      body.removeAttribute("data-theme");
      localStorage.setItem("theme", "light");
    } else {
      body.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    }
  });
});
</script>

</body>
</html>
