---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include header.html %}

<body>

  <div id="top"></div>

  {% include navbar.html %}

  <div class="wrapper">
    {% include author.html %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>


<!-- <script>
document.addEventListener("DOMContentLoaded", function () {

  const menuLinks = document.querySelectorAll(".menu-link");
  const menuTrigger = document.getElementById("menu-trigger");

  menuLinks.forEach(link => {
    link.addEventListener("click", function (e) {

      const href = this.getAttribute("href");

      if (href && href.startsWith("#")) {
        e.preventDefault();

        if (menuTrigger) {
          menuTrigger.checked = false;
        }

        const target = document.querySelector(href);
        if (target) {
          setTimeout(() => {
            target.scrollIntoView({ behavior: "smooth" });
          }, 50);
        }
      }

    });
  });

});
</script> -->

<script>
document.addEventListener("DOMContentLoaded", function () {

  const menuTrigger = document.getElementById("menu-trigger");
  const wrapper = document.querySelector(".wrapper");
  const menuLinks = document.querySelectorAll(".menu-link");

  if (menuTrigger) {
    menuTrigger.addEventListener("change", function () {
      if (menuTrigger.checked) {
        wrapper.classList.add("blurry");
      } else {
        wrapper.classList.remove("blurry");
      }
    });
  }

  menuLinks.forEach(link => {
    link.addEventListener("click", function (e) {
      const href = this.getAttribute("href");

      if (href && href.startsWith("#")) {
        e.preventDefault();

        menuTrigger.checked = false;
        wrapper.classList.remove("blurry");

        const target = document.querySelector(href);
        if (target) {
          setTimeout(() => {
            target.scrollIntoView({ behavior: "smooth" });
          }, 50);
        }
      }
    });
  });

});
</script>

</body>
</html>